.FeatureItem {
  border-bottom: 1px solid $grey3;
  padding-bottom: 25px;

  &__title {
    a {
      color: $black;
    }
  }

  &__details {
    display: flex;
  }

  &__link a {
    display: flex;
    align-items: center;

    img {
      margin-left: 10px;
    }
  }

  &__type {
    font-family: $sansSerif;
    color: $red;
    width: 190px;
    margin-right: 15px;
    line-height: 1.5;
  }
}
