.Footer {
  padding: 81px 0 60px;
  background-color: white;
  background-image: url(../images/footer-grid.jpg);

  &__nav,
  &__social {
    list-style: none;
    padding: 0;
  }

  &__social {
    display: flex;

    li {
      @include rem(font-size, 20px);
      margin-right: 25px;

      a {
        color: $green;
      }
    }
  }

  &__nav {
    li {
      margin-bottom: 18px;
    }
    a {
      color: $black;
      font-family: $sansSerif;
      font-weight: 700;
    }
  }
}
