.Highlight {
  background-repeat: no-repeat;
  padding: 25px 0 80px;
  background-size: cover;
  background-position: 40%;
  position: relative;

  @include md {
    background-position: 20%;
  }

  &::before {
    z-index: 1;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0)
    );
  }

  .container {
    position: relative;
    z-index: 2;
  }

  @include sm {
    background-position: 0;
  }

  @include md {
    background-position: center;
  }

  &__lead,
  &__title {
    display: block;
  }

  &__link {
    color: $green;
    text-decoration: none;
    font-family: $sansSerif;
    display: flex;
    align-items: center;

    img {
      margin-left: 10px;
    }
  }

  &__list {
    list-style: none;
    padding: 0;

    &-item {
      position: relative;
      padding-left: 25px;
      margin-bottom: 30px;

      &::before {
        position: absolute;
        top: 6px;
        left: 0;
        display: block;
        width: 10px;
        height: 10px;
        content: '';
        border-radius: 50%;
        border: 2px solid $red;
      }
    }
  }
}
