.Navigation {
  &__list {
    display: flex;
    list-style: none;
    text-transform: lowercase;
    flex-direction: column;

    @include md {
      flex-direction: row;
    }

    li {
      @include md {
        margin-left: 62px;
      }
    }

    a {
      text-decoration: none;
    }
  }
}
