.Navigation {
  &__email {
    padding-top: 30px;
    a {
      @include rem(font-size, 30px);
      display: inline-block;
    }
  }

  &__list {
    display: flex;
    list-style: none;
    flex-direction: column;

    @include md {
      flex-direction: row;
    }

    li {
      @include md {
        margin-left: 62px;
      }
    }

    a {
      text-decoration: none;
    }

    .link {
      @include rem(font-size, 40px);
      letter-spacing: 0.5px;

      @include md {
        @include rem(font-size, 20px);
      }
    }
  }
}
