.Process {
  &__grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    counter-reset: grid;
    margin-top: 50px;

    @include md {
      margin-top: 180px;
    }
  }

  &__item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 50px;
    position: relative;

    &::before {
      counter-increment: grid;
      content: counter(grid);
      position: absolute;
      z-index: -1;
      line-height: 1;
      top: -40px;
      left: 50px;
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      @include rem(font-size, 120px);
      color: rgba(204, 204, 0, 0.1);
      letter-spacing: 0.72px;

      @include md {
        @include rem(font-size, 288px);
        top: -50px;
        left: -50px;
      }
    }

    @include md {
      margin-bottom: 200px;
    }

    &:nth-child(odd) {
      @include md {
        top: -200px;
        margin-left: 8.3333%;

        &::before {
          top: -100px;
          left: -50px;
        }
      }
    }

    &-content {
      margin-left: 26px;

      p.h4 {
        margin-bottom: 0;
      }
    }
  }
}
